/* cart page */
.cart-title {
  color: #555550;
  font-family: Almarai;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 28px;
  text-align: right;
}
.cart-item-body {
    padding-top: 16px !important;
  height: 229px;
  width: 100%;
  border-radius: 20px;
  background-color: #ffffff;
}
.copon-input {
  box-sizing: border-box;
  height: 46px;
  width: 90%;
  border: 1px solid #979797;
  font-family: "Almarai";
  font-size: 12px;
  font-weight: normal;
}
.copon-btn {
  cursor: pointer;
  border: none;
  height: 46px;
  padding-top: 5px;
  border-radius: 5px !important;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px !important;
  border-radius: 0 !important;
  background-color: #272727;
  color: #ffff !important;
  font-family: "Almarai";
  font-size: 12px;
  font-weight: normal;
}

.cart-checkout {
  height: 200px;
  width: 100%;
  border-radius: 20px;
  background-color: #ffffff;
}

/* cart end */

.cart-img{
    margin-left: 15px;
    width: 160px;
    height: 197px;
}

.deleteicon-cursor{
    cursor: pointer;
}

.deleteicon-size{
    width: 20px; 
    height: 24px;
}

.input-size{
    width: 40px; 
    height: 25px;
}
